.bannerMeetup {
  display: flex;
  align-items: center;
  gap: 74.36px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
}

.bannerContent {
  padding: 36px 0 36px 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bannerContent > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bannerContent > button {
  width: 192px;
  height: 40px;
  background-color: #e32359;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bannerImage > img {
  width: 341px;
  height: 196px;
  margin-right: 56px;
}

@media (max-width: 1024px) {
  .bannerImage > img {
    width: 238px;
    height: 136.8px;
  }
}

@media (max-width: 768px) {
  .bannerMeetup {
    gap: 0px;
  }

  .bannerImage > img {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .bannerMeetup {
    margin-top: 54.58px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px;
    position: relative;
  }

  .bannerContent {
    padding: 16px 0 32px 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .bannerContent > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 109px;
  }

  .bannerContent > button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bannerImage {
    position: absolute;
  }

  .bannerImage > img {
    width: 238px;
    height: 136.8px;
    margin-right: 0px;
  }
}
