@import url(css/navbar.css);
@import url(css/content.css);
@import url(css/event.css);
@import url(css/cards.css);
@import url(css/banner.css);
@import url(css/categories.css);
@import url(css/cities.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1196px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .main {
    padding: 0 10rem;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 3rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0 2rem;
  }
}
