@import url(css_home/navbar.css);
@import url(css_home/content.css);
@import url(css_home/event.css);
@import url(css_home/cards.css);
@import url(css_home/banner.css);
@import url(css_home/categories.css);
@import url(css_home/cities.css);
@import url(css_home/discovering.css);
@import url(css_home/friendship.css);
@import url(css_home/footer.css);

@import url(css_page2/navbar.css);
@import url(css_page2/events.css);
@import url(css_page2/cards_filter.css);
@import url(css_page2/right_content.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1196px;
  margin: 0 auto;
}

.footer {
  background-color: #212121;
  margin-top: 64px;
  color: #f6f7f8;
}

.content_main {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  margin: 0 auto;
  margin-top: 77px;
}

@media (max-width: 1200px) {
  .main {
    padding: 0 5rem;
  }

  .footer {
    padding: 0 7rem;
  }

  .content_main {
    padding: 0 5rem;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 0 5rem;
  }

  .content_main {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 3rem;
  }

  .content_main {
    padding: 0 3rem;
  }

  .footer {
    padding: 0 5rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0 2rem;
  }

  .content_main {
    padding: 0 2rem;
  }

  .footer {
    padding: 0 3rem;
  }
}

@media (max-width: 392px) {
  .main {
    padding: 0 1rem;
  }

  .content_main {
    padding: 0 1rem;
  }
}
