.content_main {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  margin: 0 auto;
  margin-top: 77px;
}

.leftContent_events > h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
  color: #000000;
}

.leftContent_events > button {
  border: none;
  border-bottom: 4px solid #00798a;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #00798a;
}

.filtern {
  display: flex;
  align-items: center;
  margin-top: 12px;
  display: flex;
  gap: 17.44px;
}

.filter_select {
  padding: 16px;
  background-color: #f6f7f8;
  border: none;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .content_main {
    margin-top: 27.81px;
  }

  .leftContent_events > h1 {
    font-size: 25px;
  }

  .filtern {
    gap: 14px;
  }
}

@media (max-width: 392px) {
  .filtern {
    gap: 5px;
  }

  .button_filter {
    padding: 12px;
  }
  .button_filter > img {
    margin-left: 5px;
  }
}
