.rightContent_events > p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.rightContent_events > h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 14px;
}

.image-container {
  position: relative;
}

.centered_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 172.41px;
  height: 40.58px;
  color: #00798a;
  border: 2px solid #00798a;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.79px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .image-container {
    width: 300px;
    height: 240px;
  }
}

@media (max-width: 992px) {
  .rightContent_events {
    display: none;
  }
}
